---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardList from "../components/HorizontalCardList.astro";
---

<BaseLayout title = "Awards" sideBarActiveItemID="awards">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Awards</div>
  </div>

  <HorizontalCardList
    title="Outstanding Graduate Award"
    desc="2020, Southwest Jiaotong University, Chengdu, China"
    url="#"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="Dean's List"
    desc="2019, Southwest Jiaotong University, Chengdu, China"
    url="#"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="Special Scholarship"
    desc="2018-2019, Southwest Jiaotong University, Chengdu, China"
    url="#"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="Elegant Star of National Scholarship"
    desc="2018, Southwest Jiaotong University, Chengdu, China"
    url="#"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="Merit Student Award"
    desc="2016-2019, Southwest Jiaotong University, Chengdu, China"
    url="#"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="Best Student in Mathematics Joint Prize"
    desc="2017, Southwest Jiaotong University, Chengdu, China"
    url="#"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="National Scholarship"
    desc="2017, Ministry of Education, China"
    url="#"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="Outstanding Team and Individual Award in Summer Social Practice"
    desc="2017, Southwest Jiaotong University, Chengdu, China"
    url="#"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="Comprehensive Development Scholarship"
    desc="2016-2017, Southwest Jiaotong University, Chengdu, China"
    url="#"
  />

</BaseLayout>