---
import BaseLayout from "../layouts/BaseLayout.astro";
import ExpandableCard from "../components/ExpandableCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <ExpandableCard
    title="An Adaptive Control Based on Error-Aware Greedy Strategy for Upper-Limb Rehabilitation"
    img="/GCPage/post_img.webp"
    subtitle="Bionics Lab, University of California, Los Angeles, USA"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>

  <ExpandableCard
    title="A Self-Interactive Assist-As-Needed Controller for Upper-Limb Rehabilitation"
    img="/GCPage/post_img.webp"
    subtitle="Bionics Lab, University of California, Los Angeles, USA"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>

  <ExpandableCard
    title="Bio-inspired Origami Swimmer"
    img="/GCPage/post_img.webp"
    subtitle="Sung Robotics Lab, University of Pennsylvania, Philadelphia, USA"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>

  <ExpandableCard
    title="Insulator Inspection Robot"
    img="/GCPage/post_img.webp"
    subtitle="Southwest Jiaotong University, Chengdu, China"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    badge=""
  />
  <div class="divider my-0"></div>

</BaseLayout>
