---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardList from "../components/HorizontalCardList.astro";
---

<BaseLayout title = "Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Selected Publications</div>
  </div>

  <HorizontalCardList
    title="Drag Coefficient Characterization of the Origami Magic Ball"
    desc="Guanyu Chen et al. 2023, ASME International Design Engineering Technical Conferences and Computers and Information in Engineering Conference (IDETC/CIE 2023)"
    pdf="/GCPage/DRAG_COEFFICIENT_CHARACTERIZATION_OF_THE_ORIGAMI_MAGIC_BALL.pdf"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="Kinematic Modeling and Formability Analysis of Revolved Bodies Formed by Origami Waterbomb Units Based on a Chain-Like Layer-Building Method"
    desc="Guanyu Chen et al. 2024, Advanced Robotics"
    pdf="/GCPage/Kinematic_modeling_and_formability_analysis_of_revolved_bodies_formed_by_origami_waterbomb_units_based_on_a_chain-like_layer-building_method.pdf"
  />

 <div class="mt-5">
  <div class="text-3xl w-full font-bold mb-5">Thesis and Dissertation</div>
</div>

  <HorizontalCardList
    title="Augmentation of Human Upper-Limb Motion and Physical Human-Exoskeleton Interaction"
    desc="Guanyu Chen, Jacob Rosen. 2025, Ph.D. Prospectus for Oral Qualification"
    pdf="/GCPage/prospectus.pdf"
  />
  

</BaseLayout>