---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardList from "../components/HorizontalCardList.astro";
---

<BaseLayout title = "Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Selected Publications</div>
  </div>

  <HorizontalCardList
    title="Drag Coefficient Characterization of the Origami Magic Ball"
    desc="Guanyu Chen et al. 2023, ASME International Design Engineering Technical Conferences and Computers and Information in Engineering Conference (IDETC/CIE 2023)"
    url="https://github.com/GuanyuChen98/GuanyuChen98.github.io/blob/master/public/DRAG%20COEFFICIENT%20CHARACTERIZATION%20OF%20THE%20ORIGAMI%20MAGIC%20BALL.pdf"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="Kinematic Modeling and Formability Analysis of Revolved Bodies Formed by Origami Waterbomb Units Based on a Chain-Like Layer-Building Method"
    desc="Guanyu Chen et al. 2024, Advanced Robotics"
    url="https://github.com/GuanyuChen98/GuanyuChen98.github.io/blob/master/public/Kinematic%20modeling%20and%20formability%20analysis%20of%20revolved%20bodies%20formed%20by%20origami%20waterbomb%20units%20based%20on%20a%20chain-like%20layer-building%20method.pdf"
  />

 <div class="mt-5">
  <div class="text-3xl w-full font-bold mb-5">Thesis and Dissertation</div>
</div>

  <HorizontalCardList
    title="Augmentation of Human Upper-Limb Motion and Physical Human-Exoskeleton Interaction"
    desc="Guanyu Chen, Jacob Rosen. 2025, Ph.D. Prospectus for Oral Qualification"
    url="https://github.com/GuanyuChen98/GuanyuChen98.github.io/blob/master/public/prospectus.pdf"
  />
  

</BaseLayout>