---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardList from "../components/HorizontalCardList.astro";
---

<BaseLayout title = "Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Selected Publications</div>
  </div>

  <HorizontalCardList
    title="Drag Coefficient Characterization of the Origami Magic Ball"
    desc="Guanyu Chen et al. ASME International Design Engineering Technical Conferences and Computers and Information in Engineering Conference (IDETC/CIE 2023)"
    url="https://github.com/GuanyuChen98/GuanyuChen98.github.io/blob/master/public/CV_GuanyuChen_f.pdf"
  />
  <div class="divider my-0"></div>

  <HorizontalCardList
    title="Kinematic Modeling and Formability Analysis of Revolved Bodies Formed by Origami Waterbomb Units Based on a Chain-Like Layer-Building Method"
    desc="Guanyu Chen et al. Advanced Robotics"
    url="https://github.com/GuanyuChen98/GuanyuChen98.github.io/blob/master/public/CV_GuanyuChen_f.pdf"
  />

 <div class="mt-5">
  <div class="text-3xl w-full font-bold mb-5">Thesis and Dissertation</div>
</div>

  <HorizontalCardList
    title="Augmentation of Human Upper-Limb Motion and Physical Human-Exoskeleton Interaction"
    desc="Guanyu Chen, Jacob Rosen. Ph.D. Prospectus for Oral Qualification"
    url="https://github.com/GuanyuChen98/GuanyuChen98.github.io/blob/master/public/CV_GuanyuChen_f.pdf"
  />
  

</BaseLayout>